**BIG BIG HINT! Look in the instructions to guide you on this task.**

In [1]:
# Dependencies
import pandas as pd

In [2]:
# load CSV
new_coders_pd = pd.read_csv('Resources/2016-FCC-New-Coders-Survey-Data.csv', encoding='iso-8859-1', low_memory=False)

In [3]:
# Read with pandas
new_coders_pd.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [4]:
# Inspect all columns

In [5]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
reduced_coders_pd = new_coders_pd.iloc[:,[0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 11]]
reduced_coders_pd.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,CodeEventBootcamp
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20.0,43000.0,Front-End Web Developer,bachelor's degree,NaN
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25.0,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [6]:
# Change "0" to "No" and "1" to "Yes" in response columns
reduced_coders_pd = reduced_coders_pd.replace({0.0:'No', 1.0:'Yes'})
reduced_coders_pd.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,CodeEventBootcamp
0,28.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,No,30,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20,43000.0,Front-End Web Developer,bachelor's degree,NaN
4,20.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [7]:
# Calculate total number of respondents in survey
total_surveyed = len(reduced_coders_pd)
total_surveyed

15620

In [8]:
# Extract rows corresponding only to people who attended a bootcamp
attended_bootcamp = reduced_coders_pd.loc[reduced_coders_pd['AttendedBootcamp']=='Yes']
attended_bootcamp.count()

Age                     818
AttendedBootcamp        953
BootcampFinish          933
BootcampFullJobAfter    635
BootcampLoanYesNo       934
BootcampPostSalary      330
BootcampRecommend       937
ChildrenNumber          148
CityPopulation          823
CodeEventBootcamp        27
CountryLive             825
EmploymentField         476
EmploymentStatus        792
Gender                  833
HasChildren             211
HoursLearning           925
Income                  430
JobRoleInterest         402
SchoolDegree            832
CodeEventBootcamp        27
dtype: int64

In [9]:
# Calculate average age of attendees
average_age = attended_bootcamp['Age'].mean()

# Calculate how many people attended a bootcamp
amount_attended = attended_bootcamp['AttendedBootcamp'].count()

# Calculate how many attendees hold degrees
holds_degree = attended_bootcamp['SchoolDegree'].count()

# Count number of attendees who self-identify as male; female; or are of non-binary gender identification
total_gender = attended_bootcamp['Gender'].count()
male = attended_bootcamp['Gender'].value_counts()['male']
female = attended_bootcamp['Gender'].value_counts()['female']
non_gender_specific = total_gender - male - female

# Calculate percentage of respondents who attended a bootcamp
percent_attended = (amount_attended/total_surveyed)*100

# Calculate percentage of respondents belonging to each gender
male_percent = (male/total_gender)*100
female_percent = (female/total_gender)*100
non_gender_specific_percent = (non_gender_specific/total_gender)*100

# Calculate percentage of attendees with a school degree
degree_percent = (holds_degree/amount_attended)*100

# Calculate average post-bootcamp salary
average_salary = attended_bootcamp['BootcampPostSalary'].mean()

In [10]:
# Create a new table consolodating above calculations
bootcamp_breakdown = pd.DataFrame({'Total Surveyed':[total_surveyed],
                                   'Total Bootcamp Attendees':[amount_attended],
                                   '% Attended Bootcamp':[percent_attended],
                                   'Avg. Age':[average_age],
                                   'Has a Degree':[degree_percent],
                                   '% Male':[male_percent],
                                   '% Female':[female_percent],
                                   '% Non Gender Specific':[non_gender_specific_percent],
                                   'Average Post Bootcamp Salary':[average_salary]})
bootcamp_breakdown = bootcamp_breakdown[['Total Surveyed','Total Bootcamp Attendees','% Attended Bootcamp','Avg. Age','Has a Degree','% Male','% Female','% Non Gender Specific','Average Post Bootcamp Salary']]

bootcamp_breakdown = bootcamp_breakdown.round(2)
bootcamp_breakdown

,Total Surveyed,Total Bootcamp Attendees,% Attended Bootcamp,Avg. Age,Has a Degree,% Male,% Female,% Non Gender Specific,Average Post Bootcamp Salary
0,15620,953,6.1,31.07,87.3,59.54,39.14,1.32,63740.51

In [11]:
# Improve formatting before outputting spreadsheet
bootcamp_breakdown['Total Surveyed'] = bootcamp_breakdown['Total Surveyed'].map('{:,}'.format)
bootcamp_breakdown['% Attended Bootcamp'] = bootcamp_breakdown['% Attended Bootcamp'].map('{:.2f}%'.format)
bootcamp_breakdown['Has a Degree'] = bootcamp_breakdown['Has a Degree'].map('{:.2f}%'.format)
bootcamp_breakdown['% Male'] = bootcamp_breakdown['% Male'].map('{:.2f}%'.format)
bootcamp_breakdown['% Female'] = bootcamp_breakdown['% Female'].map('{:.2f}%'.format)
bootcamp_breakdown['% Non Gender Specific'] = bootcamp_breakdown['% Non Gender Specific'].map('{:.2f}%'.format)
bootcamp_breakdown['Average Post Bootcamp Salary'] = bootcamp_breakdown['Average Post Bootcamp Salary'].map('${:,.0f}'.format)
bootcamp_breakdown

,Total Surveyed,Total Bootcamp Attendees,% Attended Bootcamp,Avg. Age,Has a Degree,% Male,% Female,% Non Gender Specific,Average Post Bootcamp Salary
0,"15,620",953,6.10%,31.07,87.30%,59.54%,39.14%,1.32%,"$63,741"

In [12]:
# Export to Excel
bootcamp_breakdown.to_excel('output/BootcampPart1.xlsx', index=False)